# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# YAML files
*.yaml text eol=lf
*.yml text eol=lf

# Markdown files
*.md text eol=lf

# JSON files
*.json text eol=lf

# Config files
*.config text eol=lf

# Exclude binary files
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.zip binary
*.tar.gz binary
*.pdparams binary
*.pdopt binary
*.pdema binary
